header {
    background-color: #0275d8;
    background-image: linear-gradient(to right, #0275d8, purple);
}
h2 {
    font-size: 22px;
}
#pastSearch:hover {
    background-image: linear-gradient(to right, #0275d8, purple);
    cursor: pointer;
}
#searchedCity:focus,
#searchedCity:hover {
    background-image: linear-gradient(to right, #0275d8, purple);
}